@charset "UTF-8";

body{
    height: 100%;
    margin: 0px;
    flex-direction: column;
    background-position: center;
    background-image: url(image/fundo_imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content:center;
    background: rgb(18, 54, 51);
    padding:0px;
}

nav ul { list-style: none; columns: 4; }

nav ul li a{
    display: flex;
    text-decoration: none;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 17px;
    color:rgb(247, 219, 219);
}

a.pf{ padding-left: 55px; }
a.ct{ padding-left: 75px; }
a.port{ padding-left: 19px; }
a.cont{ padding-left: 20px; }
a.acao{ padding-left: 31px; }
a.conte{ padding-left: 50px; }
a:visited { color:rgb(237, 28, 28) }
a:hover { color:rgb(255, 49, 152) }
a:active { color:rgb(61, 64, 237) }

h2{
    color: white;
    font-size: 27px;
    padding-left: 30px;
    padding-top: 0px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 14px;
}

h3{
    font-size: 24px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    padding-left: 30px;
}

ul.hobbies {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    padding-left: 35px;
    padding-top: 0px;
}

ul.links {
    list-style: none;
    list-style-type: none;
    columns:3;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

ul.links > li> a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

ul.links:visited { color: rgb(255, 0, 255)}
ul.links:hover { color:black}
ul.links:active { color:rgb(255, 64, 64)}

div.redes {
    background-color: rgb(17, 109, 88);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}
a.lk{ padding-left: 40px; }
a.gt { padding-left: 40px; }

h2.ensino {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:white;
    padding-left: 50px;
}

fieldset{ border-width: 5px; border-style:groove ; border-color: rgb(11, 170, 160); margin-left: 200px; margin-right: 200px;}

fieldset > legend {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

label > li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align: center;
}

ul.acesso {
    list-style: none;
    text-align: end;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: auto;
}

ul.acesso > li> a { 
    text-decoration: none;
    color:rgb(6, 255, 226);
    font-weight: bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 19px;  }

ul.acesso > li.vp { text-align:justify; padding-top: 15px; }
ul.acesso > li.fn {text-align:center; padding-top: 15px;}
a.vp::before{ content: "â† "; }

p.frase { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px; text-align: center; color: antiquewhite; }

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
    color: rgb(196, 191, 191);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

form > input , form > textarea {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    border-style: ridge;
    border-color: cadetblue;
}

form > textarea.msn { font-size: 15px;}

form button{
    margin:auto;
    padding: 5px;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 120px;
    background-color: darkgray;
    font-weight: bolder;
    color:rgb(13, 14, 13);
    cursor:pointer;
}

form button:hover { background:rgb(181, 183, 181)}

a.final { display: flex; text-decoration: none; font-weight: bolder; color: rgb(255, 4, 4); text-shadow: black 0.1em 0.1em; font-size: 25px; }

li.fnl { list-style: none;;}

div.click { margin-bottom: 30px; }
div.img {
    margin-bottom: 40px;
    border: rgb(207, 21, 21);
    border-style: inset;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}
div.click > a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    color: rgb(90, 244, 228);   
    background-color: rgb(11, 50, 69);
    border:rgb(30, 243, 222);
    border-style: groove;
    border-radius: 10px;
    padding: 12px;
}
div.click > a:hover { 
    color:rgb(134, 205, 233);
    background: rgb(3, 3, 49); 
    border:rgb(0, 2, 4);
    border-style: groove;
}